@media (max-height: 700px) {
  .box {
    .event {
      &__list {
        flex-direction: row !important;
        justify-content: flex-start !important;
      }

      &__day {
        max-width: 10px;
        height: 10px;
        margin-right: 2px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
