@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 800px;
  min-height: 600px;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(75, 85, 99, 0.8);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(31, 41, 55, 0.8);
}
