$green: #69ec86;
$blue: #1297e6;
$purple: #b56af8;
$yellow: #ffcb51;
$dark: #2d3039;
$light: #060c18;
$white: #e3e1e2;
$text: #273128;

$oswald-font: "Oswald", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

ul,
ol {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.header-dropdown {
  height: 40px;
  position: relative;
}

.next-month {
  color: $blue;
}

.box {
  width: 90px;
  border-right: 2.5px solid $light;
  border-bottom: 2.5px solid $light;
  background-color: $dark !important;
  border-radius: 7px !important;
  padding: 5px;
}
.date {
  height: 80px;
  cursor: pointer;
  &:hover {
    background-color: darken($color: $dark, $amount: 10) !important;
  }
}

.local {
  background-color: $purple !important;
  color: $white !important;
}
.global {
  background-color: $blue !important;
  color: $white !important;
}

.weekend {
  background-color: lighten($color: $dark, $amount: 10) !important;
}

.today {
  border: 2.5px solid $yellow !important;
  color: $yellow;
}

.selected-now {
  border: 2.5px solid $white !important;
}

.frame {
  width: 880px;
  height: 30px;
  background-color: $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 0 10px;
  .logo-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    span {
      margin-left: 10px;
      font-size: 16px;
    }
  }
  .utils {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .minimize,
    .close {
      height: 30px;
      width: 40px;
      background-color: $light;
      color: $white;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: lighten($color: $light, $amount: 20);
      }
    }
  }
}

.container {
  width: 880px;
  height: 615px;
  border-top: 5px solid $purple;
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  #Main {
    width: 650px;
    height: 100%;
    padding: 10px;
    margin-right: 2px;
    header {
      width: 100%;
      height: 40px;
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-bottom: 10px;
      .header-year-list,
      .header-month-list,
      .header-events-list {
        padding: 0 10px;
        width: 100%;
        display: none;
        ul {
          width: 100%;
          border: 1px solid $light;
          background-color: $dark;
          box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.64);
          color: $white;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: left !important;
          position: absolute;
          top: 50px;
          left: 0;
          z-index: 1000;
          li {
            padding: 8px 12px;
            text-align: left;
            cursor: pointer;
            overflow: hidden;
            &:hover {
              background-color: darken($color: $dark, $amount: 10);
              color: $white;
            }
          }
        }
      }
      .header-box {
        width: 100%;
        height: 100%;
        text-align: left;
        background-color: $dark !important;
        color: $white;
        cursor: pointer;
        padding: 4px 12px;
        overflow: hidden;
        white-space: nowrap;
        border: 2.5px solid $light;
        border-radius: 7px;
        &:hover {
          background-color: darken($color: $dark, $amount: 10) !important;
        }
      }
    }
    main {
      width: 100%;
      color: $white;
      .previous-month,
      .next-month {
        color: darken($color: $white, $amount: 30);
      }
      .days {
        border-top: 1px solid $light;
        border-left: 1px solid $light;
        ul {
          display: grid;
          grid-template-columns: repeat(7, 90px);
          li {
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            background-color: $dark;
            ul {
              margin: 5px;
              height: 60px;
              width: 80px;
              font-size: 10px;
              white-space: nowrap;
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: baseline;
              bottom: 0;
              left: 0;
              li {
                width: 78px;
                border-radius: 3px;
                padding: 2px 5px;
                margin-bottom: 2px;

                &:nth-child(3) {
                  display: none;
                }
                &:nth-child(4) {
                  display: none;
                }
                &:nth-child(5) {
                  display: none;
                }
              }
            }
          }
        }
      }
      .weekdays {
        border-top: 1px solid $light;
        border-left: 1px solid $light;
        margin-bottom: 10px;
      }
    }
  }
  section {
    width: 250px;
    height: 100%;
    border-left: 1px solid $light;
    color: $white;
    padding: 10px;
    .select {
      background-color: $dark;
      height: 40px;
      width: 190px;
      margin: auto;
      margin-top: 10px;
      border-radius: 5px;
      padding: 8px 10px;
      white-space: nowrap;
    }
    .selected-day {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
      width: 190px;
      height: 190px;
      border-radius: 5px;
      background-color: $dark;
      font-size: 64px;
    }
    .events {
      width: 100%;
      .event {
        width: 190px;
        margin: auto;
        padding: 5px 10px;
        background-color: $dark;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }
}

.popup {
  width: 880px;
  height: 615px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;

  .popup-event {
    width: 500px;
    height: 300px;
    background-color: $white;
    z-index: 1002;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    .event-name {
      width: fit-content;
      border-radius: 5px;
      margin: 10px 0;
      padding: 8px 12px;
    }
    .event-description {
      width: 100%;
      border-radius: 5px;
      padding: 8px 12px;
    }
    .cross {
      width: 24px;
      height: 24px;
      font-size: 22px;
      color: black;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1003;
      border-radius: 50%;
      background-color: #eef0f3;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: #d9dbdd;
      }
    }
    .search-google {
      width: fit-content;
      padding: 8px 12px;
      background-color: #4285f4;
      border-radius: 5px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
